<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kurser</title>
</head>
<body>

    <h1>Mina kurser</h1>

    <% if(courses.length === 0) { %>

        <p>Inga kurser lagrade ännu.</p>

    <% } else { %>

        <ul>
            <% courses.forEach(course => { %>

                <li>
                    <strong><%= course.coursecode %></strong>
                    -
                    <%= course.coursename %>
                    (<%= course.progression %>)
                </li>

            <% }) %>
        </ul>

    <% } %>

</body>
</html>